.md h1,
.md h2,
.md h3 {
  color: blueviolet;
}

.md h1:first-child {
  margin-top: 0;
}

.md h2 {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.md h3 {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.md h2:first-child {
  margin-top: 0;
}

.md p {
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: justify;
}

.md a {
  color: blueviolet;
}

.md code {
  background: #f3e9fc;
  padding: 0.125rem 0.25rem;
  line-height: 1.25rem;
  font-weight: bold;
}

.md pre {
  background: #f3e9fc;
  padding: 1rem;
  overflow: auto;
  border-left: 0.25rem solid blueviolet;
}

.md li {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.md hr {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
