.md h2 {
  color: blueviolet;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.md h2:first-child {
  margin-top: 0;
}

.md p {
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: justify;
}

.md a {
  color: blueviolet;
}
