@import "variables.css";

.logo {
  position: relative;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  white-space: nowrap;
}

.base {
  position: relative;
  color: var(--blue-violet);
  opacity: 0.8;
}

.primary {
  position: absolute;
  color: var(--aqua);
  opacity: 0.8;
}

.secondary {
  position: absolute;
  color: violet;
  opacity: 0.8;
}

.tertiary {
  position: absolute;
  color: yellow;
  opacity: 1;
}
