:root {
  --shift: 0.1275rem;
}

.text {
  margin-right: 0.5rem;
  font-family: 'Monoton', cursive;
  font-size: 2rem;
}

.code {
  position: relative;
  font-family: 'Monoton', cursive;
}

.base {
  position: relative;
  color: black;
}

.primary {
  position: absolute;
  top: calc(var(--shift) * -1);
  left: calc(var(--shift) * 1);
  color: aqua;
  opacity: 0.8;
}

.secondary {
  position: absolute;
  top: calc(var(--shift) * -2);
  left: calc(var(--shift) * 2);
  color: violet;
  opacity: 0.8;
}
