.nav {
  background-color: white;
  padding: 1rem;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.link {
  color: black;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.linkActive {
  composes: link;
  background: aqua;
  text-decoration: none;
}

@media (min-width: 40rem) {
  .nav {
    font-size: 1rem;
    padding: 1rem 2rem;
  }

  .link {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
