@import "variables.css";

.details {
  position: relative;
  margin-top: 2rem;
  width: 100vw;
  max-width: 40rem;
  max-height: 80vh;
  overflow: auto;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background: black;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 3px;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

.close:hover {
  background: black;
}

.hero {
  margin-top: -1.5rem;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  background-size: cover;
  background-position: top center;
  height: 30vh;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.content {
  margin-top: 1rem;
}

.title {
  color: var(--blue-violet);
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  font-family: 'Raleway', sans-serif;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.primary {
  composes: button;
  background-color: var(--blue-violet);
  color: white;
}

.secondary {
  composes: button;
  border: 0.125rem solid var(--blue-violet);
  color: var(--blue-violet);
}

@media (min-width: 30rem) {
  .buttons {
    flex-direction: row;
    justify-content: space-around;
  }
}
