:root {
  --project-margin: 1rem;
  --project-width: calc(20vw - var(--project-margin) * 2);
}

.wrapper {
  display: grid;
  grid-template-columns: auto;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  margin-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.project {
  position: relative;
  height: 16rem;
  outline: none;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
}

.fixed {
  position: fixed;
  top: 2rem;
  left: 50%;
  width: 80vw;
  max-width: 40rem;
  max-height: 80vh;
  overflow: auto;
  transform: translateX(-50%);
  z-index: 1000;
}

.name {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 1000px;
  padding: 0.25rem 0.5rem;
  border: none;
  cursor: pointer;
}

.close:hover {
  background: black;
}

@media (min-width: 30rem) {
  .wrapper {
    grid-template-columns: auto auto;
  }
}

@media (min-width: 60rem) {
  .wrapper {
    grid-template-columns: auto auto auto auto;
  }
}
