.logo {
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.logo > div {
  font-size: 10rem;
}

@media (min-width: 40rem) {
  .logo > div {
    font-size: 20rem;
  }
}