.home {
  display: grid;
  grid-template-areas:
    "tagline"
    "contact"
    "upcoming"
    "logo";
  grid-template-columns: 1fr;
  grid-column-gap: 4rem;
  grid-row-gap: 6rem;
  margin: 4rem 2rem;
}